body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Usunięcie domyślnego marginesu body */
    padding: 0;
  }
  
  #slider {
    width: 70%;
    margin: auto;
    max-width: 100%; /* Ustawienie maksymalnej szerokości na 100%, aby zapobiec przekraczaniu ekranu */
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  /* Dodanie responsywności dla urządzeń mobilnych i tabletów */
  @media (max-width: 768px) {
    #slider {
      width: 90%;
    }
  }
  
  /*galeria */

  /* ... Inne style ... */

.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 0;
  padding-bottom: 66.66%; /* Zachowaj proporcje 3:2 dla zdjęć */
  background-size: cover;
  background-position: center;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  margin-bottom: 20px;
  margin-right: 20px;
}

.row .col-md-6 {
  margin-bottom: 20px;
}

/* ... Inne style ... */

  
  /* Zadbaj o to, aby powiększone zdjęcie zawsze było na wierzchu */
  #myModal {
    z-index: 1000; /* Ustaw z-index na wysoką wartość */
  }
  
  .gallery-item img {
    transition: transform 0.3s;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar {
    margin-bottom: 0; /* Usuń domyślny margines */
  }

  .gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
    background-size: cover;
    background-position: center;
    border: 5px solid #fff; /* Fajna ramka */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cień */
    transition: transform 0.3s; /* Efekt po najechaniu kursorem */
  }

  .gallery-item:hover {
    transform: scale(1.1); /* Powiększenie po najechaniu kursorem */
  }
  
  /* Odstęp między zdjęciami */
  .row .col-md-6 {
    margin-bottom: 20px;
  }

  /*popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #888;
    z-index: 2;
    overflow-y: auto; /* Dodane przewijanie pionowe, jeśli zawartość jest dłuższa niż popup */
    max-height: 80vh; /* Maksymalna wysokość - 80% wysokości widoku */
  }
  
  .popup-content {
    text-align: left;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Dodany kod, aby wysrodkować napis otwierający popup */
  #openPopupLink {
    display: block;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color:black;
  }
  
