/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

/* Slider */
.carousel-inner img {
    width: 100%;
    height: auto;
}

#carouselExampleSlidesOnly {
    max-width: 70%; /* Dostosuj szerokość do własnych preferencji */
    margin: auto;
}

/* Przekierowania */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Animacje */
.animated-text {
    text-align: center;
    margin: 50px 0;
}

.animated-text h2 {
    color: #007bff;
    font-size: 2em;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {
        color: #007bff;
    }
    50% {
        color: #00cc99;
    }
    100% {
        color: #007bff;
    }
}

/* Scrollowanie */
.scroll-section {
    text-align: center;
    padding: 50px 0;
}

/* Formularz kontaktowy */
.container form {
    max-width: 500px;
    margin: 0 auto;
}

/* Kalkulator */
.container h2 {
    text-align: center;
    margin-top: 50px;
}

/* Dodatkowe style według potrzeb */

